html(lang="en")
    head
        link(rel="stylesheet",  type="text/css" , href="../public/main.css")
        title #{title}
    body 
        h1.error Sorry! Our working hours are (Monday to Friday, from 9 to 17).