doctype html
html(lang="en")
    head
        title #{title}
        link(rel="stylesheet",  type="text/css" , href="/main.css")
    body 
      include   ./navbar.pug  
      p.greetings ...Wellcome to #{title} !